.Jokes{
    display: grid;
}


.JokesButton{
  display:inline-block;
  padding:0.70em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  width: 200px;
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
  background-color: transparent;
  letter-spacing: 0.4em;
  outline: none;
  transition: all 0.2s;
  cursor: pointer;

}

.JokesButton:hover{
  transform: translateY(2px);
  color:#000000;
  background-color:#FFFFFF;
}

@media all and (max-width:30em){
  .JokesButton{
    display:block;
    margin:0.4em auto;
  }
}

.JokesSpinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid lightgray; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 200px auto;
  justify-self: center;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
