.Joke{
    width: 80%;
    height: 60px;
    padding: 5px;
    background-color: #f3f3f3;
    margin: 0 auto;
    display: flex;
    border: 1px solid lightgray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    align-items: center;
    justify-content: center;
}

.Joke-Shadow{
    -webkit-box-shadow: 1px 1px 7px -1px rgba(107,105,107,1);
    -moz-box-shadow: 1px 1px 7px -1px rgba(107,105,107,1);
    box-shadow: 1px 1px 7px -1px rgba(107,105,107,1);
}

.Joke-Focus{

    animation: focus 0.5s forwards;
}

@keyframes focus {

    100% {
        background-color: lightgreen;
        opacity: 1;
        height: 80px;
    }
  }

.Joke:hover{
    opacity: 1;
}

.Joke-Joke{
    width: 70%;
    height: auto;
    justify-self: center;
    align-self: center;
    padding: 0 20px;
}

.Joke-Rate{
    width: 10%;
    height: auto;
    justify-self: center;
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
}

.Joke-Points{
    width: 20%;
    height: auto;
    justify-self: left;
    align-self: left;
    padding: 0;
    display: flex;
}

.Joke-Votes{
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    align-items: center;

}

.Joke-Votes span{
   margin: 0 auto;
   font-weight: bold;
   color: grey;
   font-size: 0.9em;
}

.Joke-PointsButtons{
    font-size: 1.4em;
    color: #3f3f3f;
    padding: 0;
    margin: 0 auto;
    justify-self: left;
    cursor: pointer;
    align-self: center;
}